# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs / Editors
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
